*{
	margin: 0;
	padding:0;
	box-sizing:border-box; 
    font-family: "Poppins", sans-serif; 
}
 body {
	 background-color:linen;
	z-index: -1;
}


.heading {
	width:100%;
   height:25vh;
   background-image:url("../images/background.jpg");
   background-repeat: repeat-x;


}
.navBar{
  position: relative;
	 top:30px;
	 float: right;
	 margin-right: 25px;
	 
}
.navBar a{
   
   
    text-decoration: none;
    border:1px solid rgb(125,35,50);
    border-radius:12px;
    padding:10px 50px;
    font-size:17px;
    font-weight:bolder;
   color:maroon;

 
}
.navBar a:hover {
   background-color: white;
   color:  maroon;
    transition: 0.5s;
}

.searchBar{
	position: relative;
	margin: auto;
	top: 30%;
	width: 100%;
	max-width:300px ;
	display: flex;
	align-items:center ;
   padding: 5px 20px;
	border: 2px solid maroon;
	
	
	border-radius: 60px;
	backdrop-filter: blur(1px) saturate(180%);
}

input{
	background: transparent;
   flex: 1;
   border: 0;
   outline: none;
   padding: 10px 20px;
   color: white;
   font-weight: bold;
	font-size: 12px;


}
::placeholder {
	color: white;
	font-weight: bold;
}






.sideBar{
  position:absolute;
  width:30%;
  height:70vh;
  background:transparent;
  background-color:rgba(150,150,120,1)

}

.sideBar a{
	text-decoration: none;
}


.displayMap{
  position:relative;
  width:inherit;
  height: 70vh;
  border:1px solid cyan;

}

footer {
	bottom: 0;
	width: 100%;
	height: 5vh;
	background-color:lightseagreen;
    position: relative;
    
}
@media screen and(min-width:800px ){
	footer{
		border-radius: 12px;
	}
}
footer p{
	font-weight:bold;
  color:maroon;
 text-align: center;
 font-size: 16px;
 padding: 10px;

}



